{%extends 'base.html'%}
{% block content %}

<body class="container">
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Registration number</th>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.age}}</td>
                <td>{{student.registration_no}}</td>
                <td><a href="{{ url_for('update_a_student', student_id=student.id) }}" class="btn btn-info">Update</a>
                </td>
                <td><a href="{{ url_for('delete_student',student_id=student.id) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock content %}